:root {
  --bg-base: #050505;
  --bg-surface: #0a0a0c;
  --bg-panel: #111114;
  
  --accent-primary: #ffffff;
  --accent-secondary: #888888;
  --accent-dim: rgba(255, 255, 255, 0.15);
  
  --text-main: #ffffff;
  --text-muted: #888888;
  
  --font-mono: 'Courier New', Courier, monospace;
  
  --border-thin: 1px solid #333333;
  --border-accent: 1px solid var(--accent-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--bg-base);
  color: var(--text-main);
  font-family: var(--font-mono);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* Contenedores Principales */
.system-root {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Fondo 3D */
}

.ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Interfaz por encima del WebGL */
  pointer-events: none; /* Permite que el ratón interactúe con el Canvas si es necesario */
}

/* Habilita eventos de puntero solo en elementos interactivos */
.ui-layer > * {
  pointer-events: auto;
}
